html body {
  background: url('../img/bg-home-espectacle-vineyards.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

header {
}

header, article, footer {
  padding: 5%;
}

section {

}

h1, h2 {
  text-transform: uppercase;
}

small {
  font-size: .9em;
}

.brand {
}

.logo {
  width: 100%;
}

.company-name {
  font-size: 1.4em;
  text-transform: capitalize;
}

.portfolio {
  font-size: 1.25em;
  font-weight: 100;
  letter-spacing: .035em;
  line-height: 1.5;
}

.about-us {
  -moz-columns:3;
  -webkit-columns:3;
  columns:3;
}

.about-us-copy {
  font-size: 1.25em;
  font-weight: 200;
  letter-spacing: .035em;
  line-height: 1.5;
}

.article-title {
  font-family:Garamond, Georgia, serif;
  font-weight: bold;
  letter-spacing: .065em;
}

.bg-white {
    background-color: hsla(0, 0%, 99%, .85);
}

.bg-light-black {
    background-color: hsla(0, 0%, 13%, .25);
}

.bg-black {
    background-color: hsla(0, 0%, 13%, .85);
}

.text-white {
  color: hsla(0, 0%, 99%, 1);
}

.space-top-15 {
  margin-top: 15%;
}

.space-top-10 {
  margin-top: 10%;
}


/*// Small screens //*/
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) {
    small {
      font-size: .75em;
  }
    .about-us {
    -moz-columns:1;
    -webkit-columns:1;
    columns:1;
  }

    .about-us-copy {
    font-size: 1em;
  }

  .space-top-15 {
    margin-top: 0;
  }

  .space-top-10 {
    margin-top: 0;
  }

  .bg-white {
    background-color: hsla(0, 0%, 99%, 1);
  }

  .bg-light-black {
    background-color: hsla(0, 0%, 13%, 1);
  }

  .bg-black {
    background-color: hsla(0, 0%, 13%, 1);
  }
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/*// Medium screens //*/
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {

  .company-name {
    font-size: 5em;
  }

} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/*// Large screens //*/
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */

/*// XLarge screens //*/
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/*// XXLarge screens //*/
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xlarge screens */
