/* BASE */
html body {
  background: url('../img/bg-home-espectacle-vineyards.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

header, article, footer {
  padding: 5%;
}

h1, h2 {
  font-family:Garamond, Georgia, serif;
  font-weight: bold;
  letter-spacing: 0.065em;
  text-transform: uppercase;
}

button {
  margin-top: 5%;
}

small {
  font-size: .9em;
}

/* LAYOUT */
.space-top-15 {
  margin-top: 15%;
}

.space-top-10 {
  margin-top: 10%;
}

.space-top-5 {
  margin-top: 5%;
}


/* MODULES */
.about-us-copy {
  font-size: 1.25em;
  font-weight: 200;
  letter-spacing: .035em;
  line-height: 1.5;
}

.company-name {
  font-family:Garamond, Georgia, serif;
  font-size: 1.9em;
  letter-spacing: .015em;
  text-align: center;
  text-transform: capitalize;
}

.logo {
  width: 100%
}

/* COLORS */
.bg-white {
    background-color: hsla(0, 0%, 99%, .9);
}

.text-light-grey {
  color: hsla(0, 0%, 80%, 1);
}

.text-white {
  color: hsla(0, 0%, 99%, 1);
}

/************************************/
/* Foundation Specificity Overrides */
/* Columns */
/*main > div:nth-of-type(1) .columns {
  padding-bottom: 0.9375em;
  padding-top: 0.9375em;
}*/


/*// Small screens //*/
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) {
  /*BASE*/
  small {
    font-size: 1em;
  }

  /* LAYOUT */
  .space-top-15, .space-top-10, .space-top-5 {
    margin-top: 0;
  }


  /* MODULES */
  .about-us-copy {
    font-size: 1em;
  }

  .company-name {
    font-size: 1.65em;
  }

  .copyright {
    display: block;
  }

  .small-bg {
  background: url('../img/bg-home-espectacle-vineyards.jpg');
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}


  /* COLORS */
  .bg-white {
    background-color: hsla(0, 0%, 99%, 1);
  }

  .small-bg-black {
    background-color: hsla(0, 0%, 13%, 1);
  }

  .small-text-white {
    color: hsla(0, 0%, 99%, .85);
  }


} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/*// Medium screens //*/
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {

  .company-name {
    font-size: 2.5em;
  }

} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/*// Large screens //*/
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */

/*// XLarge screens //*/
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/*// XXLarge screens //*/
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xlarge screens */
