/* BASE */
footer {
  padding: 5%;
  margin-bottom: 10%;
}

/* BACKGROUNDS */
html body {
  background: #fff;
}

html .page--home__background {
  background: url('../img/backgrounds/bg-vineyard-espectacle-montsant-spain.jpg') no-repeat center center fixed;
}

html .page--producers__background {
  background: url('../img/backgrounds/bg-vineyard-dsc01808.jpg') no-repeat center center fixed;
}

html .page--events__background {
  background: url('../img/backgrounds/bg-vineyard-dsc01860.jpg') no-repeat center center fixed;
}

html .page--about-us__background {
  background: url('../img/backgrounds/bg-river-mino-rias-baixas-spain.jpg') no-repeat center center fixed;
}

html .page--contact-us__background {
  background: url('../img/backgrounds/bg-vineyard-dsc6168.jpg') no-repeat center center fixed;
}

html .page--home__background,
html .page--producers__background,
html .page--events__background,
html .page--about-us__background,
html .page--contact-us__background {
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.page__footer__background {
  background-color: hsla(0, 0%, 13%, 1);
}

/* Typography */
@font-face {
  font-family: "ITC Garamond Standard Light";
  src: url("fonts/ITCGaramondStd-Lt.otf");
  font-weight: normal;
  font-style: normal;
}

h1, h2 {
  font-family: 'ITC Garamond Standard Light';
}

.footer__copy {
  color: #fff;
  font-size: 2em;
}

.logo__text {
  font-size: 2.75em;
  margin-top: -0.35em;
}

.page__intro {
  font-size: 1.5em;
  font-weight: 200;
  letter-spacing: .05em;
  line-height: 1.5;
  width: 65ex;
}

.page__title {
  font-size: 2.75em;
  font-weight: 200;
  letter-spacing: .075em;
  line-height: 1.5;
  margin-bottom: 0;
  text-transform: uppercase;
}

/* NAVIGATION */

.top-bar-section ul li>a, .navigation__menu__item { /* Foundation Specificity Override */
  letter-spacing: .075em;
  text-transform: uppercase;
}

/* PRODUCERS */
.producers {
  background-color: hsla(0, 0%, 99%, 1);
  padding: 5%;
}

.producers__menu__title {
  font-size: 3em;
  font-weight: 600;
  font-style: italic;
  line-height: 1.5;
  text-align: center;
  text-transform: capitalize;
}

.producers__menu__title:after, .producers__menu__title:before {
  content: "";
  display: inline-block;
  height:3rem;
  width: 3rem;
}
.producers__menu__title:after {
  background: url("../img/producers/flourish-right.svg") no-repeat;
  background-size: 3rem;
  margin: -1rem 0 -1rem 0.5rem;
}

.producers__menu__title:before {
  background: url("../img/producers/flourish-left.svg") no-repeat;
  background-size: 3rem;
  margin: -1rem 0.5rem -1rem 0;
}

.producers__menu__country {
  border-top: 1px dotted #777;
  cursor: pointer; cursor: hand;
  display: inline-block;
  font-size: 2.25em;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  margin: 0;
  padding: 2%;
}

.producers__menu__country:hover {
  background-color: #ffe;
}

.producers__menu__country:active {
  background-color: #fff;
}

.producers__menu__country:before {
  content: "";
  display: inline-block;
  height:3rem;
  width: 3rem;
  margin: -1rem 1rem -1.25rem 0;
}

.producers__menu__country--austria:before {
  background: url("../img/producers/flag-austria.svg") no-repeat;
  background-size: 3rem;
}

.producers__menu__country--france:before {
  background: url("../img/producers/flag-france.svg") no-repeat;
  background-size: 3rem;
}

.producers__menu__country--germany:before {
  background: url("../img/producers/flag-germany.svg") no-repeat;
  background-size: 3rem;
}

.producers__menu__country--italy:before {
  background: url("../img/producers/flag-italy.svg") no-repeat;
  background-size: 3rem;
}

.producers__menu__country--portugal:before {
  background: url("../img/producers/flag-portugal.svg") no-repeat;
  background-size: 3rem;
}

.producers__menu__country--slovenia:before {
  background: url("../img/producers/flag-slovenia.svg") no-repeat;
  background-size: 3rem;
}

.producers__menu__country--spain:before {
  background: url("../img/producers/flag-spain.svg") no-repeat;
  background-size: 3rem;
}

.producers__menu__country--usa:before {
  background: url("../img/producers/flag-united-states.svg") no-repeat;
  background-size: 3rem;
}

.producer__region__list {
  background-color: #ffe;
  padding: 2%;
  text-align: center;
}

.producers__list {
  list-style: none;
}

.producer__card {
  margin-bottom: 1rem;
}

.producer__location {
  display: inline-block;
  font-size: .75em;
  font-style: italic;
  margin-left: 1em;
}

.producers__menu__close {
  cursor: pointer; cursor: hand;
  color: #222;
  padding: 5%;
}

.producers__menu__close:hover {
  color: tomato;
}

.producers__menu__close:active {
  color: #eff;
}

.producers__menu section:last-of-type {
  border-bottom: 1px dotted #777;
}

/* EVENTS */
.events {
  background-color: hsla(0, 0%, 99%, .95);
  padding: 5%;
}

.events__list {
  list-style: none;
}

.events__list__item {
  background-color: hsla(0, 0%, 99%, 1);
  box-shadow: 1px 1px 2px #777;
  margin: 2em 0 2em 0;
  padding: 2.5em;
}

.event__title {
  font-size: 3em;
  font-weight: 600;
  font-style: italic;
  line-height: 1.5;
  margin-bottom: 0;
  text-transform: capitalize;
}

.event__date {
  color: hsla(118, 50%, 40%, 1);
  font-size: 1.65em;
  line-height: 1.5;
}

.event__description {
  font-size: 1.25em;
}

.event__alert {
  background-color: hsla(118, 50%, 35%, .85);
  color: #fff;
  font-size: 1.25em;
  font-weight: 500;
  line-height: 1.5;
  padding: 2%;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}

.event__location {
  font-size: 1.25em;
  font-weight: 300;
}

.event__rsvp {
  font-size: 1.25em;
}

/* ABOUT US */
.about-us {
  background-color: hsla(0, 0%, 99%, .95);
  padding: 5%;
}


/* COLORS */
.red {
  color: tomato;
}


/* ICONS */
.icon--xsmall {
  font-size: .75em;
}

.icon--small {
  font-size: 1em;
}

.icon--medium {
  font-size: 1.4em;
}

.icon--large {
  font-size: 2em;
}

.icon--xlarge {
  font-size: 3em;
}


/* SLABTEXT */
/* These rules are used specifically for
   the slabtext.js plugin which enables the
   Robert Houde Wines logo text to
   take up the space of its container */
.slabtexted .slabtext
        {
        display:-moz-inline-box;
        display:inline-block;
        white-space:nowrap;
        }
.slabtextinactive .slabtext
        {
        display:inline;
        white-space:normal;
        font-size:1em !important;
        letter-spacing:inherit !important;
        word-spacing:inherit !important;
        *letter-spacing:0 !important;
        *word-spacing:0 !important;
        }
.slabtextdone .slabtext
        {
        display:block;
        }


/*// Small screens //*/
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) {
  /* Layout */
  .producers__list {
       -moz-columns:1;
    -webkit-columns:1;
            columns:1;
  }

  .l-small--hide {
    display: none;
  }

  /* Typography */

  .logo__text {
    margin-top: -0.2em;
    font-size: 1.7em;
  }

  .page__title {
    font-size: 2.35em;
    text-align: center;
  }

  .page__intro {
    font-size: 1em;
    font-weight: 200;
    letter-spacing: .025em;
    width: 100%;
  }

  .footer__copy {
    font-size: 1.2em;
  }

  /* Producers */
  .producers__menu__title {
    font-size: 1.25em;
    font-weight: 300;
  }

  .producers__menu__title:after, .producers__menu__title:before {
    content: "";
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
  }
  .producers__menu__title:after {
    background: url("../img/producers/flourish-right.svg") no-repeat;
    background-size: 1.5rem;
    margin: -1rem 0 -0.5rem 0.5rem;
  }

  .producers__menu__title:before {
    background: url("../img/producers/flourish-left.svg") no-repeat;
    background-size: 1.5rem;
    margin: -1rem 0.5rem -0.5rem 0;
  }

} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/*// Medium screens //*/
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {

  /* Typography */
  .page__intro {
    width: 100%;
  }

  .producers__menu__title {
    font-size: 2em;
    font-weight: 400;
  }

} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/*// Large screens //*/
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */

/*// XLarge screens //*/
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/*// XXLarge screens //*/
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xlarge screens */
