/* Background Images */
html body {
  background: #fff;
}

html .page--home__background {
  background: url('../img/backgrounds/bg-vineyard-espectacle-montsant-spain.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

html .page--producers__background {
  background: url('../img/backgrounds/bg-vineyard-dsc01808.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

html .page--events__background {
  background: url('../img/backgrounds/bg-vineyard-dsc01860.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

html .page--about-us__background {
  background: url('../img/backgrounds/bg-river-mino-rias-baixas-spain.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

html .page--contact-us__background {
  background: url('../img/backgrounds/bg-vineyard-dsc6168.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

/* Typography */
@font-face {
  font-family: "ITC Garamond Standard Light";
  src: url("fonts/ITCGaramondStd-Lt.otf");
  font-weight: normal;
  font-style: normal;
}

h1, h2 {
  font-family: 'ITC Garamond Standard Light';
}

.logo__text {
  font-size: 2.75em;
  margin-top: -0.35em;
}

.page__intro {
  font-size: 1.5em;
  font-weight: 200;
  letter-spacing: .05em;
  line-height: 1.5;
  width: 65ex;
}

.page__title {
  font-size: 2.75em;
  font-weight: 200;
  letter-spacing: .075em;
  line-height: 1.5;
  margin-bottom: 0;
  text-transform: uppercase;
}

/* NAVIGATION */
.navigation__menu__item {
  letter-spacing: .10em;
  text-transform: uppercase;
}

/* PRODUCERS */
.producers {
  background-color: hsla(0, 0%, 99%, 1);
  margin-top: 5%;
  padding: 5%;
}

.producers__menu {
  background-color: hsla(0, 0%, 99%, 1);
  padding: 5%;
}

.producers__menu__title {
  font-size: 2.3em;
  font-weight: 400;
  letter-spacing: .075em;
  line-height: 1.5;
  margin-bottom: 3%;
  text-transform: capitalize;
}

.producers__menu-close {
  cursor: pointer; cursor: hand;
  color: #222;
  padding: 5%;
}

.producers__menu-close:hover {
  color: tomato;
}

.producers__menu-close:active {
  color: #eff;
}

.producers__country {
  border-top: 1px dotted #777;
  cursor: pointer; cursor: hand;
  display: inline-block;
  font-size: 1.75em;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  margin: 0;
  padding: 2%;
}

.producers__country:hover {
  background-color: #eff;
}

.producers__country:active {
  background-color: #fff;
}

.producer__region__list {
  background-color: #eff;
  padding: 2%;
}

.producers__list {
  -webkit-columns:2;
     -moz-columns:2;
          columns:2;
  list-style: none;
}

.producer {
-webkit-column-break-inside:avoid;
   -moz-column-break-inside:avoid;
    -ms-column-break-inside:avoid;
     -o-column-break-inside:avoid;
        column-break-inside:avoid;
}

.producer__location {
  display: block;
  font-size: .75em;
  font-style: italic;
}

.producers__menu section:last-of-type {
  border-bottom: 1px dotted #777;
}

/* EVENTS */
.events {
  padding: 5%;
}

.events__list {
  list-style: none;
}

.events__list__item {
  background-color: #eee;
  margin: 2em 0 2em 0;
  padding: 2.5em;
}

/*a[rel="external"] { color: red; }*/
/* COLORS */
/*.bg-white {
    background-color: hsla(0, 0%, 99%, .85);
}

.bg-black {
    background-color: hsla(0, 0%, 13%, .65);
}

.text-light-grey {
  color: hsla(0, 0%, 80%, 1);
}

.text-white {
  color: hsla(0, 0%, 99%, 1);
}*/

/* ICONS */
.icon--xsmall {
  font-size: .75em;
}

.icon--small {
  font-size: 1em;
}

.icon--medium {
  font-size: 1.4em;
}

.icon--large {
  font-size: 2em;
}

.icon--xlarge {
  font-size: 3em;
}


/* SLABTEXT */
/* These rules are used specifically for
   the slabtext.js plugin which enables the
   Robert Houde Wines logo text to
   take up the space of its container */
.slabtexted .slabtext
        {
        display:-moz-inline-box;
        display:inline-block;
        white-space:nowrap;
        }
.slabtextinactive .slabtext
        {
        display:inline;
        white-space:normal;
        font-size:1em !important;
        letter-spacing:inherit !important;
        word-spacing:inherit !important;
        *letter-spacing:0 !important;
        *word-spacing:0 !important;
        }
.slabtextdone .slabtext
        {
        display:block;
        }

/************************************/
/* Foundation Specificity Overrides */




/*// Small screens //*/
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) {
/* Layout */
.producers__list {
     -moz-columns:1;
  -webkit-columns:1;
          columns:1;
}

/* Typography */
.logo__text {
  margin-top: -0.2em;
  font-size: 1.7em;
}

} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/*// Medium screens //*/
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/*// Large screens //*/
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */

/*// XLarge screens //*/
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/*// XXLarge screens //*/
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xlarge screens */
