/* BASE */
@font-face {
  font-family: "ITC Garamond Standard Light";
  src: url("fonts/ITCGaramondStd-Lt.otf");
  font-weight: normal;
  font-style: normal;
}

html body {
  background: #fff;
}

/*html body {
  background: url('../img/bg-home-espectacle-vineyards.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}*/

h1, h2 {
  font-family: 'ITC Garamond Standard Light';
}

small {
  font-size: .9em;
}

/* LAYOUT */
/*.about-us {
  -moz-columns:3;
  -webkit-columns:3;
  columns:3;
}*/

.space-bottom-neg1_25 {
  margin-bottom: -1.25em;
}

.space-left-5 {
  margin-left: 5%;
}

.space-top-15 {
  margin-top: 15%;
}

.space-top-10 {
  margin-top: 10%;
}

.space-top-5 {
  margin-top: 5%;
}

.pad-5 {
  padding: 5%;
}

.pad-2 {
  padding: 2%;
}


/* MODULES */
/*.about-us-copy, .portfolio-copy {
  font-size: 1.25em;
  font-weight: 200;
  letter-spacing: .035em;
  line-height: 1.5;
}*/

.company-name {
  font-size: 2.35em;
  /*letter-spacing: .015em;*/
  text-transform: capitalize;
}

.logo {
  width: 100%;
}

/* COLORS */
.bg-white {
    background-color: hsla(0, 0%, 99%, .85);
}

.bg-black {
    background-color: hsla(0, 0%, 13%, .65);
}

.text-light-grey {
  color: hsla(0, 0%, 80%, 1);
}

.text-white {
  color: hsla(0, 0%, 99%, 1);
}

/* ICONS */
.icon-xsmall {
  font-size: .75em;
}

.icon-small {
  font-size: 1em;
}

.icon-medium {
  font-size: 1.4em;
}

.icon-large {
  font-size: 2em;
}

.icon-xlarge {
  font-size: 2.3em;
}

/* TEXT */
.bold {
  font-weight: bold;
}

.text-size-xsmall {
  font-size: .75em;
}

.text-size-small {
  font-size: 1em;
}

.text-size-medium {
  font-size: 1.4em;
}

.text-size-large {
  font-size: 2em;
}

.text-size-xlarge {
  font-size: 2.3em;
}

.uppercase {
  text-transform: uppercase;
}


/************************************/
/* Foundation Specificity Overrides */


/*// Small screens //*/
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) {
  /*BASE*/
  small {
    font-size: 1em;
  }

  /* LAYOUT */
  .about-us {
    -moz-columns:1;
    -webkit-columns:1;
    columns:1;
  }

   .small-space-top-10 {
    margin-top: 10%;
  }

  .space-top-15, .space-top-10, .space-top-5 {
    margin-top: 0;
  }


  /* MODULES */
  .about-us-copy {
    font-size: 1em;
  }

  .copyright {
    display: block;
  }

/*  .small-bg {
  background: url('../img/bg-home-espectacle-vineyards.jpg');
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}*/


  /* COLORS */
  .bg-white {
    background-color: hsla(0, 0%, 99%, 1);
  }

  .small-bg-black {
    background-color: hsla(0, 0%, 13%, 1);
  }

  .small-text-white {
    color: hsla(0, 0%, 99%, .85);
  }


} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/*// Medium screens //*/
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/*// Large screens //*/
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */

/*// XLarge screens //*/
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/*// XXLarge screens //*/
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xlarge screens */
